
.transition-main{
    height: 100vh;
    width: 100%;
    background-image: url("../../Assets/giphy.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0;

}

.transition-bypass{
    display: flex;
    align-items: center; gap: 1em;
}

.transition-main-deactive{
    position: absolute;
    height: 100vh;
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    background-color: var(--clr-secondary) !important;
}

.transition-granted {
    font-size: 40px;;
    animation: drop-down 4.5s forwards;
}

.transition-main-upwards{
    animation: pull-up 3s forwards;
}

@keyframes pull-up {
    0%{
        transform:translateY(0px);
    }
    100%{
        transform: translateY(-100vh);
    }
}

@keyframes drop-down {
    0%{
        transform:translateY(-100vh);
    }
    100%{
        transform: translateY(0px);
        display: none;
    }
}

.visible{
    opacity: 1;
}