
.landing-main{
    position: relative;
    height: 100vh;
    width: 100%;

    background-color: var(--clr-secondary);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.landing-cube-title{
    position: absolute;
    left: 0;
    top: 0;
    left: 5%;
    top: 5%;
    font-size: 80px;
    color: var(--clr-contrast);
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 20px 40px rgba(0, 0, 0, 0.3);
}

.landing-cube-solve{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5%;
}
.landing-cube-solve p{
    text-align: center;
}

.landing-cube-solve h1:hover{
    color: red;
    cursor: pointer;
}


/* CUBE */

.landing-cube{
    position: relative;
    z-index: 2;
    top: calc(50% - 150px);
    left: calc(50% - 175px);
    height: 300px;
    width: 300px;
    perspective: 850px;
}

.landing-cube-blur{
    position:absolute;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    filter: blur(200px);
    background-color: var(--clr-contrast);
}