
.landing-main{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--clr-secondary);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

/* CUBE */

.landing-cube{
    position: relative;
    z-index: 2;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    height: 300px;
    width: 300px;
    perspective: 850px;
}

.landing-cube-blur{
    position:absolute;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    filter: blur(200px);
    background-color: var(--clr-contrast);
}