
.landing-main{
    position: relative;
    height: 100vh;
    width: 100%;

    background-color: var(--clr-secondary);
    overflow: hidden;
}

.landing-cube-title{
    position: absolute;
    left: 0;
    top: 0;
    left: 5%;
    top: 5%;
    font-size: clamp(65px, 10vw, 80px);
    color: var(--clr-contrast);
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 20px 40px rgba(0, 0, 0, 0.3);
}

.landing-cube-solve{
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    padding: 5%;
}
.landing-cube-solve p{
    text-align: center;
}

.landing-cube-solve h1:hover{
    color: red;
    cursor: pointer;
}

.landing-floor{
    position: absolute;
    z-index: 2;
    height: 765px;
    width: calc(145px + 15vh);
    z-index: 2;
    opacity: 0.3;
    left: calc(50% - 140px);
    display: flex;
    align-items: end;
    top: 0;
    background-color: black;
    box-shadow: inset -5px 8px 15px 15px #000000;
    transform-style: preserve-3d;
    transform: translateY(160px) perspective(30px) rotateX(45deg) ;
}
.solid{
    z-index: 2;
    opacity: 1;
    background-color: var(--clr-secondary);
}

.landing-wall{
    position: absolute;
    height: 90vh;
    z-index: 0.2;
    width: 270px;
    opacity: 0.3;
    left: calc(50% - 140px);
    display: flex;
    filter: blur(15px);
    align-items: end;
    top: 0;
    background-color: white;
    box-shadow: inset 30px 10px 15px 100px #000000;
    transform-style: preserve-3d;
    transform: perspective(30px) rotateY(89deg) rotateZ(90deg);
}

.landing-floor-beam{
    position: relative;
    z-index: 100;
    height: 100px;
    width: 22vh;
    border-radius: 50%;
    background-color: lightblue;
    border: 1px solid blue;

    transform: translateX(45px) translateY(-345px);
}

.landing-cube-beam{
    position: absolute;
    z-index: 10;
    width: 150px;
    height: 90vh;
    left: calc(50% - 75px);
    top: calc(-55%);
    filter: blur(10px);
    transform: perspective(30px) rotateX(2deg);
    background-color: lightblue;
    opacity: 0.3;
}

.landing-cube-shadow{
    position: absolute;
    z-index: 3;
    left: calc(50% - 100px);
    top: calc(73% - 100px);
    width: 200px;
    height: 200px;
    transform: perspective(40px) translateY(clamp(calc(780px - 90vh), 0px, 9999px)) rotateX(5deg);
    background-color: black;
    opacity: 0.7;
    filter: blur(5px);
}

.fade {
    animation: fade-shadow 10s forwards;
}

@keyframes fade-shadow {
    0%{

    }
    100%{
        filter: blur(30px);
        width: 400px;
        height: 400px;
        left: calc(50% - 200px);
        top: calc(73% - 200px)
    }
}


/* CUBE */

.landing-cube{
    position: relative;
    z-index: 5;
    top: calc(50% - 150px);
    left: calc(50% - 175px);
    height: 300px;
    width: 300px;
    perspective: 850px;
}

.landing-cube-blur{
    position:absolute;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    filter: blur(200px);
    background-color: var(--clr-contrast);
}
