:root {

    --cube-size: 60px;
    --cube-tz: calc(var(--cube-size) /2)
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: translateZ(-300px) rotateX(var(--x)) rotateY(var(--y)) rotateZ(var(--z));
}



.cube-face{
    position: absolute;
    width: var(--cube-size);
    height: var(--cube-size);
    border: 1px solid red;
}

.cube-face-front  { background-color: pink; transform: rotateY(0deg) translateZ(var(--cube-tz)); }
.cube-face-right  { background-color: yellow; transform: rotateY( 90deg) translateZ(var(--cube-tz)); }
.cube-face-back   { background-color: gray; transform: rotateY(180deg) translateZ(var(--cube-tz)); }
.cube-face-left   { background-color: green; transform: rotateY(-90deg) translateZ(var(--cube-tz)); }
.cube-face-top    { background-color: lightblue; transform: rotateX( 90deg) translateZ(var(--cube-tz)); }
.cube-face-bottom { background-color: lightcoral; transform: rotateX(-90deg) translateZ(var(--cube-tz)); }

