

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: 
    translateX(50px) translateY(0px) translateZ(-200px) 
    rotateX(-35deg) rotateY(40deg) rotateZ(-5deg);
    
}

.cube-face{
    position: absolute;
    width: 200px;
    height: 200px;
}

.shorter{
    height: 70px;
}

.cube-face{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.cube-face-front-indv{
    height: 32%;
    width: 32%;
    border-radius: 7px;
    background-color: green;
    border: 2px solid black;
}

.cube-face-front-indvs{
    height: 100%;
    width: 32%;
    border-radius: 7px;
    background-color: green;
    border: 2px solid black;
    
}

.cube-face-front-indv:hover,
.cube-face-front-indvs:hover
{
    background-color: lightblue;
}

.cube-holder-top-container {
    position: absolute;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    transform: rotateY(var(--TY));
    transform-origin: center center center !important;
}

.cube-holder-center-container{
    position:absolute;
    width: 200px;
    height: 200px;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    transform: rotateY(var(--CY));
    transform-origin: center center center !important;
}

.cube-holder-bottom-container{
    position:absolute;
    width: 200px;
    height: 200px;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    transform: rotateY(var(--BY));
    transform-origin: center center center !important;

}




/* Cube Holder Bottom */
.cube-face-front-bottom  { transform: rotateY(0deg) translateZ(100px) translateY(180px); }
.cube-face-right-bottom  { transform: rotateY( 90deg) translateZ(100px) translateY(180px); }
.cube-face-back-bottom   { transform: rotateY(180deg) translateZ(100px) translateY(180px); }
.cube-face-left-bottom   { transform: rotateY(-90deg) translateZ(100px) translateY(180px); }
.cube-face-top-bottom    { transform: rotateX( 90deg) translateZ(-80px) ; }
.cube-face-bottom-bottom { transform: rotateX(-90deg) translateZ(150px); }


/* Cube Holder Center */
.cube-face-front-center  { transform: rotateY(0deg) translateZ(100px) translateY(100px); }
.cube-face-right-center  { transform: rotateY( 90deg) translateZ(100px) translateY(100px); }
.cube-face-back-center   { transform: rotateY(180deg) translateZ(100px) translateY(100px); }
.cube-face-left-center   { transform: rotateY(-90deg) translateZ(100px) translateY(100px); }
.cube-face-top-center    { transform: rotateX( 90deg) translateZ(0px) ; }
.cube-face-bottom-center { transform: rotateX(-90deg) translateZ(70px); }

/* Cube Holder Top */
.cube-face-front-top  { transform: rotateY(0deg) translateZ(100px) translateY(20px); }
.cube-face-right-top  { transform: rotateY( 90deg) translateZ(100px) translateY(20px); }
.cube-face-back-top   { transform: rotateY(180deg) translateZ(100px) translateY(20px); }
.cube-face-left-top   { transform: rotateY(-90deg) translateZ(100px) translateY(20px); }
.cube-face-top-top    { transform: rotateX( 90deg) translateZ(80px) ; }
.cube-face-bottom-top { transform: rotateX(-90deg) translateZ(-10px); }