.home-white-transition {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: white;
    animation: fades-in-home 4s ease-out forwards !important;
  }
  
  @keyframes fades-in-home {
    0% {
      opacity: 1;
    }   
    100% {
      opacity: 0;
    }
  }


.home-main{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--clr-secondary);
    color: var(--clr-contrast);
    padding: 5%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.home-main h1{
    position: relative;
    z-index: 2;
    font-size: clamp(40px,10vw, 80px);
}
.home-main h2{
    position: relative;
    z-index: 2;
    font-size: clamp(30px, 5vw, 50px);
}
.home-main p {
    position: relative;
    z-index: 2;
    width: 50%;
    text-align: justify;
    font-size: clamp(14px, 1vw, 16px);
}


.home-image-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin-top: auto;
}

.home-image-man{
    margin-top: auto;
    max-width: 600px;
}

.home-languages-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.home-lang-img{
    position: relative;
    max-width: 50px;
    max-height: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.socials{
    max-width: 35px;
    max-height: 35px;
    cursor: pointer;
}

.home-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 5vh;
}

.home-gif-container{
    position: absolute;
    top: calc(40% - 175px);
    left: calc(70% - 175px);
    transform-origin: center center;
    transform: rotate(45deg);
    background-color: rgb(158, 158, 158);
    height: 350px;
    width: 350px;
    border: 5px solid var(--clr-contrast);
    overflow: hidden;
    filter:brightness(0.7)  
}

.home-gif{
    transform: rotate(-45deg) translate(-25px, 0px);
    transform-origin: center;
      
}


@media screen and (max-width: 700px) {
    .home-main p {
        width: 100%
    }
    .home-image-man{
        width: 100%;
    }

    .home-gif-container{
        top: calc(50% - 175px);
        left: calc(50% - 175px);
    }
}

